/*!
 * App less files
 */
DIV.user-badge {
  position: relative;
  min-height: 50px;
}
DIV.user-badge DIV.title {
  margin: 6px 0 0;
}
.users-list-item {
  float: left;
  margin: 0 2px 2px 0;
}
.media-image,
.media-left {
  float: left;
  margin-right: 10px;
}
.ministats-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ministats-group > .ministats-item {
  float: left;
}
.ministats-group .ministats-small {
  margin-right: 5px;
  padding-right: 4px;
}
a.ministats {
  color: #999;
}
a.ministats:hover {
  color: #333;
}
.list-nostyle {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.type-light {
  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  color: #999;
}
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a:hover.link-dark,
a.link-dark {
  color: #333;
  text-decoration: none;
}
a.link-light {
  text-decoration: none;
  color: #999;
}
a.link-light:hover {
  text-decoration: none;
  color: #333;
}
div.sound-badge {
  padding: 10px 0 !important;
  position: relative;
  min-height: 60px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-top-color: #e5e5e5;
}
.wall-logo {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.wall-logo-btn {
  position: absolute;
  top: 0px;
  background-color: white;
  width: 236px;
  text-align: center;
  z-index: 5;
  display: none;
  -webkit-border-radius: 3px 3px 3px 0;
  -moz-border-radius: 3px 3px 3px 0;
  -ms-border-radius: 3px 3px 3px 0;
  -o-border-radius: 3px 3px 3px 0;
  border-radius: 3px 3px 3px 0;
}
/*JSON PRETTY OUTPUT */
pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}
div.tools {
  /*-webkit-box-shadow: inset 0 4px 5px 0 rgba(83, 79, 79, 0);
  -moz-box-shadow: inset 0 4px 5px 0 rgba(83, 79, 79, 0);
  box-shadow: inset 0 4px 5px 0 rgba(83, 79, 79, 0);*/

  width: 100%;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  /*background: #534f4f;*/

  /*background: white;*/
  margin-bottom: 10px;
  margin-bottom: 0;
  text-align: center;
}
code {
  background-color: ghostWhite;
  border: 1px solid #DEDEDE;
  color: #444;
  padding: 0 3px;
}
/*MAP CANVAS*/
.map {
  border: 1px solid #dddddd;
  width: 300px;
  height: 180px;
  float: left;
  margin: 0px 0 0 10px;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}
#mapLeaf {
  height: 380px;
  width: 100%;
  margin-top: -10px;
  z-index: 10;
}
#mapPreview {
  height: 380px;
  width: 100%;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}
#mapLineLeaf {
  height: 330px;
  width: 100%;
  margin: 0 0 0 0;
}
#mapProfileLeaf {
  height: 380px;
  width: 100%;
}
#mapModalLeaf {
  width: auto;
  height: 380px;
  z-index: 10;
  border: 1px solid #dddddd;
  margin: 7px 0 0 0;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}
#mapViewLeaf {
  height: 380px;
  width: 100%;
  margin-top: -10px;
}
#bigMapLeaf {
  height: 450px;
  width: 90%;
  border: 1px solid #dddddd;
  margin: 7px 0 0 30px;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}
/*POPUP MAP*/
div.leaflet-popup .leaflet-popup-content-wrapper {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  background: #534f4f;
}
div.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content a {
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  color: #FFF;
  text-decoration: none;
  padding-bottom: 5px;
}
.btn-map-event-create {
  margin-top: -75px !important;
  margin-left: 100px !important;
  color: white !important;
}
.btn-map-event-create a {
  color: white !important;
}
/** Nav **/#sideBar {
  position: relative;
  z-index: 5000;
}
#sideBar h4 {
  padding-left: 5px;
  color: #eee;
}
#sideBar #menu {
  float: left;
}
#sideBar li.search input[type=submit] {
  display: none;
}
#sideBar ol {
  width: 0px;
  height: 100%;
  /*overflow-y: scroll;*/

  margin: 0 0 0 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}
#sideBar ol li {
  height: 40px;
  width: 0px;
  overflow: hidden;
}
#sideBar ol li a {
  display: block;
  padding: 0 0 0 0;
}
#sideBar ol li .logo a {
  line-height: 40px;
}
#sideBar ol li span {
  width: 50px;
  height: 40px;
  margin-right: 0px;
  margin-left: 5px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
#sideBar ol li .profile a span {
  width: 30px;
  height: 30px;
  margin-left: 13px;
  margin-right: 8px;
  margin-top: -3px;
  background: #f8f8f8;
}
#sideBar ol li .search input {
  position: absolute;
  left: 50px;
  top: 10px;
  right: 10px;
  font-size: 13px;
  width: 118px;
  padding: 5px 0 6px 0;
  text-indent: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  aopacity: 0;
  color: #777777;
}
#sideBar .showall li.hidden {
  display: block;
}
.categoryMenu {
  font-size: 125% !important;
}
#sideBar:hover li.search input.active {
  color: #333333;
}
#sideBar:hover li.search input {
  opacity: 1;
}
#sideBar li.hidden,
#sideBar.showall li.arrow {
  display: none;
}
#sideBar li.profile a span {
  border: 2px solid #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#sideBar li.profile.active a span {
  border-color: #008ed3;
}
#sideBar li.active:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 3px solid #008ed3;
}
#sideBar li a b {
  text-indent: 10px;
  font-weight: normal;
  display: inline-block;
  color: #333;
}
#sideBar li a:hover b,
#sideBar:hover li a:hover b,
#sideBar.searching li a:hover b,
#sideBar li.active a b {
  color: #008ed3;
}
#sideBar li a span img {
  display: block;
  width: 100px;
  max-width: 100px;
  height: 900px;
}
#sideBar:hover li a span img,
#sideBar.searching li a span img,
#sideBar li.active a span img,
#sideBar li.profile a span img {
  opacity: 1;
}
html.touch #sideBar {
  padding-bottom: 51px;
}
html.cssanimations #sideBar {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0, 0.35, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0, 0.35, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0, 0.35, 1);
  transition: all 0.3s cubic-bezier(0.25, 0, 0.35, 1);
}
html.cssanimations.no-touch #sideBar {
  -webkit-transition-delay: .25s;
  -moz-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s;
}
html.cssanimations.no-touch #sideBar:hover,
html.cssanimations.no-touch #sideBar.searching,
html.cssanimations.touch #sideBar.expand {
  width: 180px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}
html.cssanimations.no-touch:hover #sideBar.searching {
  box-shadow: none;
}
html.cssanimations #sideBar li a b {
  -webkit-transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -moz-transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -o-transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  text-indent: 0px;
  aopacity: 0;
}
html.cssanimations.no-touch #sideBar li a b {
  -webkit-transition-delay: .25s;
  -moz-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s;
}
html.cssanimations #sideBar.searching li a b,
html.cssanimations #sideBar:hover li a b {
  opacity: 1;
}
html.cssanimations #sideBar li a span img {
  opacity: 0.75;
}
html.cssanimations #sideBar li a span img {
  -webkit-transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -moz-transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -o-transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -webkit-transition-delay: .25s;
  -moz-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s;
}
html.cssanimations #sideBar li.search input {
  -webkit-transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -moz-transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -o-transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  transition: opacity 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -webkit-transition-delay: .25s;
  -moz-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s;
}
#side-bar li.active span img,
html.no-touch #sideBar li:hover span img {
  margin-left: -50px;
}
#side-bar li.profile.active a span img,
html.no-touch #sideBar li.profile:hover a span img {
  margin-left: 0;
}
html.cssanimations #sideBar li.active:after,
html.cssanimations #sideBar li .cover {
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -moz-transition: all 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  -o-transition: all 0.15s cubic-bezier(0.25, 0, 0.35, 1);
  transition: all 0.15s cubic-bezier(0.25, 0, 0.35, 1);
}
html.cssanimations.no-touch #sideBar li.active:after,
html.cssanimations.no-touch #sideBar li .cover {
  -webkit-transition-delay: .25s;
  -moz-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s;
}
#sideBar li .cover {
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  width: 180px;
  display: block;
}
html.cssanimations.touch #sideBar.expand li .cover,
html.cssanimations.no-touch #sideBar:hover li .cover,
html.cssanimations.no-touch #sideBar.searching li .cover {
  right: -180px;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
body {
  /*padding: 50px 25px 25px 0px;*/

  font: 14px "Merriweather Sans", Helvetica, Arial, sans-serif;
  /*background-color: #FAFAF5 !important;*/

  overflow-y: scroll;
}
a {
  font-family: 'Merriweather Sans', sans-serif;
  color: #00B7FF;
}
a .bold {
  font-weight: bold;
}
a:active.btn-link.jlink,
a.btn-link.jlink {
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  text-decoration: none;
  color: #535353;
}
a:active.btn-link.jlink-white,
a.btn-link.jlink-white {
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  text-decoration: none;
  color: #FFF;
}
a:hover.btn-link.jlink {
  color: #ACA1A1;
}
a:active.btn-link.jlink2,
a.btn-link.jlink2,
a:hover.btn-link.jlink2 {
  color: #08c !important;
}
a:active.btn-link.jlink3,
a.btn-link.jlink3 {
  text-decoration: none;
  color: #f1f0f0 !important;
}
a.no-decoration,
a:hover.no-decoration {
  text-decoration: none;
}
a.gray-link,
a:hover.gray-link {
  color: #999;
  text-decoration: none;
}
a:hover.text-verylight,
a .text-verylight {
  color: #ccc;
}
label .option {
  color: #5999B9;
}
label .author {
  font-weight: 400;
}
label .required:after {
  color: red;
  content: " *";
}
input[readonly="readonly"] {
  background-color: blue;
}
span.normal {
  font-weight: normal;
}
/* HEADER */
.navbar.show {
  -webkit-transform: translate3d(0, 30px, 0);
  -moz-transform: translateY(30px);
  -o-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}
/* FOOTER */
footer.footer {
  width: 100%;
  background-color: #423f3f;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, -30px, 0);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}
footer.footer ul {
  padding-top: 30px;
  list-style: none;
}
footer.footer .menu {
  width: 100%;
  height: 30px;
  background-color: #534f4f;
}
footer.footer .menu a {
  color: #ACA1A1;
  font-size: 10px;
}
footer.footer.show {
  height: 31;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.jeego {
  background-color: #3A6EA7;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  /*text-shadow: 1px 1px 1px #191b1e;*/

  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
}
.jeego label {
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
}
.jeego label.white {
  color: #000;
}
.jeego span {
  color: white;
}
.jeego .blue .slide-button {
  background-color: #38a3d4;
}
.jeego .yellow .slide-button {
  background-color: #f5e560;
}
.jeego .slide-button {
  border: 1px solid #222;
  border-radius: 3px;
  color: white;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
}
.form-group-jeego {
  margin-bottom: 5px;
}
.jeego > span {
  color: white;
  text-shadow: none;
}
.tag-splash {
  font-family: "BankGothicMdBTMedium", "Futura", "Arial";
  /*font-family: "Bank Gothic", "Futura", "Arial";*/

  opacity: .9;
  color: white;
  text-shadow: 0 0 5px #1d3ff0;
}
#legend {
  float: left;
  font-size: 12px;
  font-style: italic;
  margin: 10px 0px 0px 430px;
}
.service-item {
  margin-bottom: 15px;
}
i.service-icon {
  background-color: #5cb85c;
  color: white;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block !important;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}
.comment-item.small .comment-item-username {
  padding: 2px 0;
  font-size: 12px;
}
.comment-item-content {
  text-align: left;
  font-size: 12px;
}
.caption {
  padding: 6px 14px 7px;
}
.event-desc {
  font-size: 22px;
  line-height: 1.3em;
  margin-bottom: 20px;
}
